<div class="container">   
    <div class="text-center mb-5">
        <a href="/stadion" class="btn btn-dark p-3 w-25">Stadion</a>
        <a href="/herb" class="btn btn-dark p-3 w-25">Herb</a>
        <a href="/trofea" class="btn btn-dark p-3 w-25">Trofea</a>
    </div>
    
    <h1 class="text-center mb-3">Historia klubu</h1>

    <div class="form-auth card bg-dark text-white border-dark mb-3 w-75">        
        <img src="/img/history/history-bg.png" class="card-img-top" alt="History img">
        <div class="card-body timeline-items">
            <div class="timeline-item" data-aos="fade-left">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2020</h3>
                  <p>Liverpool wygrywa Premier League – swoje 19 mistrzostwo w klasyfikacji generalnej.</p>
                </div>
            </div>  
            <div class="timeline-item" data-aos="fade-right">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2019</h3>
                  <p>• Zwycięstwo w Lidze Mistrzów, pokonując w finale Tottenham 2:0 w Madrycie.</p>
                  <p>• Klubowe Mistrzostwa Świata FIFA zdobyte w Katarze.</p>
                </div>
            </div>
            <div class="timeline-item" data-aos="fade-left">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2017</h3>
                  <p>Klub Liverpool FC obchodzi 3 czerwca 125 urodziny.</p>
                </div>
            </div>  
            <div class="timeline-item" data-aos="fade-right">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2016</h3>
                  <p>• Przegrana drużyny Jürgena Kloppa z hiszpańską Sevillą w finale Ligi Europy.</p>
                  <p>• Otwarcie nowej trybuny na Anfield, dzięki czemu jest to jedna z największych jednoosobowych trybun w europejskiej piłce nożnej.</p>
                </div>
            </div>
            <div class="timeline-item" data-aos="fade-left">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2015</h3>
                  <p>Zatrudnienie nowego niemieckiego trenera Jürgena Kloppa.</p>
                </div>
            </div>  
            <div class="timeline-item" data-aos="fade-right">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2014</h3>
                  <p>Złamane serce, gdy Liverpool ledwo przegrywa z Manchesterem City w wyścigu o tytuł Premier League, chociaż przypieczętowuje powrót do Ligi Mistrzów.</p>
                </div>
            </div>
            <div class="timeline-item" data-aos="fade-left">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2012</h3>
                  <p>• Zdobycie Pucharu Ligi na Wembley przeciwko Cardiff.</p>
                  <p>• Kenny Dalglish rozygnuje z posady trenera, a zostaje nim Brendan Rodgers.</p>
                </div>
            </div>  
            <div class="timeline-item" data-aos="fade-right">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2010</h3>
                  <p>Fenway Sports Group zostaje nowym właścicielem klubu Liverpool FC.</p>
                </div>
            </div>
            <div class="timeline-item" data-aos="fade-left">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2007</h3>
                  <p>Pobicie rekordu transferowego kupując Fernando Torresa.</p>                  
                </div>
            </div>  
            <div class="timeline-item" data-aos="fade-right">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2006</h3>
                  <p>Zdobycie Tarczy Wspólnoty i po rzutach karnych Pucharu Ligi w Cardiff.</p>
                </div>
            </div>
            <div class="timeline-item" data-aos="fade-left">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2005</h3>
                  <p>• Cud w Stambule i Dudek dance w serii rzutów karnych. Liverpool z kolejnym pucharem Ligi Mistrzów!</p>
                  <p>• Superpuchar Europy Europy.</p>                  
                </div>
            </div>  
            <div class="timeline-item" data-aos="fade-right">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2003</h3>
                  <p>Pokonanie Manchesteru United i zdobycie Pucharu Ligi w Cardiff, szóste trofeum Gerarda Houlliera od trzech lat.</p>
                </div>
            </div>
            <div class="timeline-item" data-aos="fade-left">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>2001</h3>
                  <p>• Zdobycie Pucharu UEFA przeciwko Alaves w Dortmundzie.</p>                  
                  <p>• Świetna noc Michaela Owena i wygrana w Pucharze Ligi.</p>                  
                </div>
            </div>  
            <div class="timeline-item" data-aos="fade-right">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>1990</h3>
                  <p>Liverpool zdobywa tytuł Premier League.</p>
                </div>
            </div>            
            <div class="timeline-item" data-aos="fade-left">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h4 class="text-center mt-3">Więcej informacji wkrótce!</h4>
                </div>
            </div>            
            <div class="timeline-item" data-aos="fade-right">
                <div class="timeline-dot"></div>
                <div class="timeline-content">
                  <h3>1892</h3>
                  <p>3 czerwca 1892 roku założenie nowego klubu - Liverpool FC przez Johna Houldinga.</p>                  
                </div>
            </div>  
            




        </div>        
    </div>
</div>