<div class="container">
    <div class="text-center mb-5">
        <a href="/klub" class="btn btn-dark p-3 w-25">Klub</a>
        <a href="/stadion" class="btn btn-dark p-3 w-25">Stadion</a>
        <a href="/trofea" class="btn btn-dark p-3 w-25">Trofea</a>
    </div>

    <h1 class="text-center mb-3">Historia herbu</h1>

    <div class="form-auth card bg-dark text-white border-dark mb-3 w-75">        
        <!-- <img src="/img/crests-bg.png" class="card-img-top" alt="History img"> -->
        <img src="/img/crests-bg.png" class="card-img-top crest-bg" alt="Wczesniejsze herby">
        <div class="card-body">
            <img src="/img/crest-info.jpg" class="crest-info" alt="Opis herbu">
            <p><b>Shankly's Gate</b> - motto drużyny znajduje się na górnej części Bramy Shankly'ego, która została otworzona 26 sierpnia 1982 roku w celu oddania hołdu Shanksowi - człowiekowi, który zwrócił Liverpool w stronę sukcesów, z Second Division wprowadził drużynę do pierwszej ligi, aby później święcić z nią ogromne sukcesy i uzyskać miano najbardziej utytułowanego klubu w Anglii. Warto zauważyć, że na szczycie bramy znajduje się symbol narodowy Szkocji, w której urodził się Bill oraz ukryta flaga tego państwa.</p>
            <hr>
            <p><b>You'll Never Walk Alone</b> - słowa znajdujące się na szczycie herbu są tytułem piosenki stworzonej przez Gerry and the Pacemakers. Nagranie zostało stworzone w 1963 roku i okazało się strzałem w dziesiątkę. YNWA zyskiwało coraz większą rzeszę zwolenników, śpiewano ją wszędzie, również na stadionach futbolowych przed meczami. Tak samo było na Anfield. Pewnego razu jednak spiker nie zdecydował się na włączenie nagrania z hitem, więc kibice sami zaczęli go śpiewać. Wszystkim bardzo przypadło to do gustu i od tamtej pory YNWA jest tradycją na Anfield. Później piosenka stała się oficjalnym hymnem klubowym.</p>
            <hr>
            <p><b>Liverbird</b> znany z herbu the Reds, był on wariacją na temat ptaka znajdującego się w mieście, który uważany jest za symbol muzycznej stolicy Anglii. Tak naprawdę prawa autorskie do Liverbirda, który przedstawiony został z piłką pod nogą, należą nie do klubu, a do fanów.</p>
            <p>Tak więc Liverbird jest mityczną kreaturą - połączeniem kormorana i orła, wymyśloną w dniach Króla Jana (XIII wiek). Teraz Liverbird stoi dumnie na szczycie Liver Building, jest skierowany w stronę rzeki Mersey i uznawany za Opiekuna Portu w Liverpoolu. Legenda głosi, że kiedy ptak odleci, miasto przestanie istnieć.</p>
            <hr>
            <p><b>Płomienie Hillsborough</b> - upamiętniają 97 ofiar tragedii Hillsborough w roku 1989. Pojedynek Liverpoolu z Nottingham Forest w półfinale FA Cup przyciągnął ogromne ilości kibiców. Ludzie napływali tłumami na stadion Sheffield Wednesday, aż w końcu obiekt został przeludniony. Zginęło 97 fanów the Reds i to właśnie ich upamiętniają dwa płomienie znajdujące się na herbie.</p>
        </div>
    </div>
</div>