<div class="container">   
    <div class="text-center mb-5">
        <a href="/stadion" class="btn btn-dark p-3 w-25">Stadion</a>
        <a href="/herb" class="btn btn-dark p-3 w-25">Herb</a>
        <a href="/trofea" class="btn btn-dark p-3 w-25">Trofea</a>
    </div>
    
    <h1 class="text-center mb-3">Historia klubu</h1>

    <div class="form-auth card bg-dark text-white border-dark mb-3 w-75">        
        <img src="/img/history-bg.png" class="card-img-top" alt="History img">
        <div class="card-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit optio minima sed quaerat quasi placeat vitae quidem, animi quae id iste, enim libero aliquid laudantium asperiores quam at distinctio nisi ea recusandae dignissimos doloremque eos? Possimus incidunt excepturi temporibus nesciunt cupiditate ullam iste similique doloribus laborum! Quas similique fuga velit.</p>        
        </div>
    </div>
</div>