<div class="container">
    <div class="text-center mb-5">
        <a href="/klub" class="btn btn-dark p-3 w-25">Klub</a>
        <a href="/herb" class="btn btn-dark p-3 w-25">Herb</a>
        <a href="/trofea" class="btn btn-dark p-3 w-25">Trofea</a>
    </div>

    <h1 class="text-center mb-3">Historia stadionu</h1>

    <div class="form-auth card bg-dark text-white border-dark mb-3 w-75">        
        <img src="/img/history/stadium-bg.png" class="card-img-top" alt="Anfield">
        <div class="card-body">
            <h3 class="text-center">Anfield</h3>
            <p>Forteca Anfield ma reputację jednego z najtrudniejszych obiektów dla zespołów przyjezdnych. Bill Shankly zdecydował się na zawieszenie tabliczki 'This Is Anfield' na ścianie w korytarzu prowadzącym na płytę boiska. Wielu Czerwonych podnosi rękę do góry i dotyka jej, uważając ją za jedną z magicznych sił Liverpool Football Club, które przyciągają do najbardziej utytułowanej angielskiej drużyny miliony fanów z całego świata.</p>
            <p>Tereny wokół Anfield również warte są wspomnienia. Obok stadionu znajduje się tablica z nazwiskami 96 osób, które zginęły na Hillsborough. Jest również statua Billa Shankly'ego, oraz dwie bramy wjazdowe - Shankly Gates i Paisley Gates.</p>                
            <p>Wielki obiekt świecący na cały świat Czerwienią, był własnością Johna Houldinga. Pierwszy mecz spotkanie towarzyskie przeciwko Rotherham, 1 września 1892 roku. The Reds wygrali 7:1. Houlding był piwowarem i członkiem rady mieszkalnej, który pozwolił Evertonowi FC w 1884 roku na rozgrywanie meczów na jego obiekcie. Pierwszy pojedynek na Anfield Everton rozegrał z Earlstown 28 września i wygrał aż 5:0. The Toffees użytkowali grunt aż do 1892 roku, kiedy to pokłócili się z Houldingiem o wysokość czynszu. Wtedy przenieśli się do niedawno wybudowanego Goodison Park. Podczas tych ośmiu lat Houlding był prawdziwą motywacją dla Evertonu, udało mu się nawet stworzyć trybunę, na którą regularnie przychodziło około osiem tysięcy fanów.</p>
            <p>Podczas gdy oglądalność meczów Liverpoolu na trybunach Anfield wciąż rosła, w 1895 roku zdecydowano o budowie kolejnej, mieszczącej 3 tysiące osób. Została wybudowana w miejscu obecnego Main Stand, a pierwsze gruntowne przebudowanie nastąpiło dopiero w 1937. W 1903 w miejscu obecnego Anfield Road powstała trybuna z drewna i falistego metalu. W roku 1906 Liverpool ponownie wygrał ligę, a zarząd uznał, że należy wybudować kolejną, od strony Walton Breck Road. Ernest Edwards, który pracował wtedy dla Liverpool Daily Post ochrzcił ją, nadając jej imię the Spion Kop. Wiele stadionów ma w członie nazwy jednej ze swoich trybun słowo 'Kop', jak St Andrews, czy Hillsborough, jednak to Kop z Anfield stało się tym najsłynniejszym w całej Anglii.</p>
            <p>Anfield nie zmieniło się zbytnio aż do 1928 roku, kiedy podjęto główne przedsięwzięcie w całej jego karierze. The Kop zostało przebudowane tak, aby mieściło 28 tysięcy ludzi, ponadto nad trybuną wybudowano dach. Było to największe Kop w całym kraju. Materiały, a dokładniej metal, przypłynęły razem ze statkiem do portu w Liverpoolu. Później zostały przewiezione przez Everton Valley końmi i pozostawione przy Anfield.</p>
            <p>W roku 1957 na stadionie zamontowano reflektory. Sześć lat później stara trybuna Kemlyn Road została zastąpiona przez nową, posiadającą 6'700 tysięcy krzesełek, a na jej zbudowanie klub wydał 350 tys. funtów. Później wykonano kilka przeróbek, tworząc tam spory chroniony teren.</p>     
            <p>Największa jednak przebudowa nastąpiła w 1973 roku, kiedy stara Main Stand została rozłożona na czynniki pierwsze i zastąpiona nową, mieszczącą 12 277 tysięcy osób trybuną z miejscami siedzącymi. Została otworzona przez Duke'a z Kentu w marcu 1973 roku.</p>  
            <p>Nazwa 'Kemlyn Road' została zmieniona na 'Centenary Stand' w roku 1992. Później trzeba było wręcz zdemolować ulicę, aby poszerzyć wejście. Wiązało się to również z kolejnym powiększeniem Centenary, tym razem do 11 762 tysięcy miejsc siedzących. Trybuna została wyposażona w strefy dla VIP-ów, miejsca, w których można było coś przekąsić i bary.</p>
            <p>W roku 1994 rozegrano ostatni mecz przed the Kop z miejscami stojącymi. Liverpool grał z Norwich City, a na Anfield zmieściły się 44 339 tysiące fanów. Data 30 kwietnia przejdzie do historii LFC, jednak nie za rezultat. Norwich zwyciężyło 1:0, a jedynego gola zdobył Jeremy Goss, właśnie przed the Kop.</p>
            <p>Lokalna 'legenda' głosiła, że fani na słynnej trybunie umieją poprowadzić piłkę do bramki, jeśli Liverpool gra naprzeciwko Kop. Jakiś czas później trybuna została lekko pomniejszona ze względu na bezpieczeństwo i katastrofę na Hillsborough w 1989. W maju 1994 roku została ostatecznie przebudowana i posiadała 12 249 tysięcy miejsc siedzących. Anfield Road Stand została zmieniona w 1998 i może pomieścić 9 074 tysiące kibiców, w tym przyjezdnych.</p>
            


        </div>
    </div>
</div>