<div class="container">
    <h1 class="text-center mb-3">Trofea</h1>

    <div class="trophies card card-body bg-dark text-white border-dark mb-3">
        <div class="trophies-bg">
            <div class="row mt-4 text-center justify-content-center align-items-end">
                <div class="col-12 col-sm-3">
                    <img src="img/trophies/premier-league.png" alt="Puchar Ligi Angielskiej">
                    <p>Mistrzostwo Anglii</p>
                </div>
                <div class="col-12 col-sm-3">
                    <img src="img/trophies/champions-league.png" alt="Puchar Europy">
                    <p>Puchar Europy</p>
                </div>
                <div class="col-12 col-sm-3">
                    <img src="img/trophies/fa-cup.png" alt="Puchar Anglii">
                    <p>Puchar Anglii</p>
                </div>
                <div class="col-12 col-sm-3">
                    <img src="img/trophies/league-cup.png" alt="Puchar Ligi">
                    <p>Puchar Ligi</p>
                </div>
                <div class="col-12 col-sm-3">
                    <img src="img/trophies/uefa-cup.png" alt="Puchar UEFA">
                    <p>Puchar UEFA</p>
                </div>
                <div class="col-12 col-sm-3">
                    <img src="img/trophies/supercup-eu.png" alt="Superpuchar Europy">
                    <p>Superpuchar Europy</p>
                </div>
                <div class="col-12 col-sm-3">
                    <img src="img/trophies/club-world-cup.png" alt="Puchar Klubowych MŚ">
                    <p>Klubowe Mistrzostwo Świata</p>
                </div>
            </div>

            <div class="bg-shadow"></div>
        </div>

        <table class="table table-striped table-hover table-dark text-center">            
            <thead>
                <tr>
                    <th scope="col">Sezon</th>
                    <th scope="col">Trofeum</th>
                    <th scope="col">Trener</th>
                </tr>
            </thead>
            <tbody>                
                <tr>
                    <td>2019 / 2020</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Jürgen Klopp</td>
                </tr>
                <tr>
                    <td>2019 / 2020</td>
                    <td>Klubowe Mistrzostwo Świata</td>
                    <td>Jürgen Klopp</td>
                </tr>
                <tr>
                    <td>2019 / 2020</td>
                    <td>Superpuchar Europy</td>
                    <td>Jürgen Klopp</td>
                </tr>
                <tr>
                    <td>2018 / 2019</td>
                    <td>Puchar Europy</td>
                    <td>Jürgen Klopp</td>
                </tr>
                <tr>
                    <td>2011 / 2012</td>
                    <td>Puchar Ligi</td>
                    <td>Kenny Dalglish</td>
                </tr>
                <tr>
                    <td>2006 / 2007</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Rafael Benítez</td>
                </tr>
                <tr>
                    <td>2005 / 2006</td>
                    <td>Superpuchar Europy</td>
                    <td>Rafael Benítez</td>
                </tr>
                <tr>
                    <td>2005 / 2006</td>
                    <td>Puchar Anglii</td>
                    <td>Rafael Benítez</td>
                </tr>
                <tr>
                    <td>2004 / 2005</td>
                    <td>Puchar Europy</td>
                    <td>Rafael Benítez</td>
                </tr>
                <tr>
                    <td>2002 / 2003</td>
                    <td>Puchar Ligi</td>
                    <td>Gérard Houllier</td>
                </tr>
                <tr>
                    <td>2001 / 2002</td>
                    <td>Superpuchar Europy</td>
                    <td>Gérard Houllier</td>
                </tr>
                <tr>
                    <td>2001 / 2002</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Gérard Houllier</td>
                </tr>
                <tr>
                    <td>2000 / 2001</td>
                    <td>Puchar UEFA</td>
                    <td>Gérard Houllier</td>
                </tr>
                <tr>
                    <td>2000 / 2001</td>
                    <td>Puchar Anglii</td>
                    <td>Gérard Houllier</td>
                </tr>
                <tr>
                    <td>2000 / 2001</td>
                    <td>Puchar Ligi</td>
                    <td>Gérard Houllier</td>
                </tr>
                <tr>
                    <td>1994 / 1995</td>
                    <td>Puchar Ligi</td>
                    <td>Roy Evans</td>
                </tr>
                <tr>
                    <td>1991 / 1992</td>
                    <td>Puchar Anglii</td>
                    <td>Graeme Souness</td>
                </tr>
                <tr>
                    <td>1990 / 1991</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Kenny Dalglish</td>
                </tr>
                <tr>
                    <td>1989 / 1990</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Kenny Dalglish</td>
                </tr>
                <tr>
                    <td>1989 / 1990</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Kenny Dalglish</td>
                </tr>
                <tr>
                    <td>1988 / 1989</td>
                    <td>Puchar Anglii</td>
                    <td>Kenny Dalglish</td>
                </tr>
                <tr>
                    <td>1988 / 1989</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Kenny Dalglish</td>
                </tr>
                <tr>
                    <td>1987 / 1988</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Kenny Dalglish</td>
                </tr>
                <tr>
                    <td>1986 / 1987</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Kenny Dalglish</td>
                </tr>
                <tr>
                    <td>1985 / 1986</td>
                    <td>Puchar Anglii</td>
                    <td>Kenny Dalglish</td>
                </tr>
                <tr>
                    <td>1985 / 1986</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Kenny Dalglish</td>
                </tr>
                <tr>
                    <td>1983 / 1984</td>
                    <td>Puchar Europy</td>
                    <td>Joe Fagan</td>
                </tr>
                <tr>
                    <td>1983 / 1984</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Joe Fagan</td>
                </tr>
                <tr>
                    <td>1983 / 1984</td>
                    <td>Puchar Ligi</td>
                    <td>Joe Fagan</td>
                </tr>
                <tr>
                    <td>1982 / 1983</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1982 / 1983</td>
                    <td>Puchar Ligi</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1982 / 1983</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1981 / 1982</td>
                    <td>Puchar Ligi</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1981 / 1982</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1980 / 1981</td>
                    <td>Puchar Europy</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1980 / 1981</td>
                    <td>Puchar Ligi</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1980 / 1981</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1979 / 1980</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1979 / 1980</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1978 / 1979</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1977 / 1978</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1977 / 1978</td>
                    <td>Superpuchar Europy</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1977 / 1978</td>
                    <td>Puchar Europy</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1976 / 1977</td>
                    <td>Puchar Europy</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1976 / 1977</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1976 / 1977</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1975 / 1976</td>
                    <td>Puchar UEFA</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1975 / 1976</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1974 / 1975</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Bob Paisley</td>
                </tr>
                <tr>
                    <td>1973 / 1974</td>
                    <td>Puchar Anglii</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1972 / 1973</td>
                    <td>Puchar UEFA</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1972 / 1973</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1971 / 1972</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1966 / 1967</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1965 / 1966</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1965 / 1966</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1964 / 1965</td>
                    <td>Puchar Anglii</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1964 / 1965</td>
                    <td>Tarcza Dobroczynności</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1963 / 1964</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1961 / 1962</td>
                    <td>Mistrzostwo drugiej Ligi</td>
                    <td>Bill Shankly</td>
                </tr>
                <tr>
                    <td>1946 / 1947</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>George Kay</td>
                </tr>
                <tr>
                    <td>1922 / 1923</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Matt McQueen</td>
                </tr>
                <tr>
                    <td>1921 / 1922</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>David Ashworth</td>
                </tr>
                <tr>
                    <td>1905 / 1906</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Tom Watson</td>
                </tr>
                <tr>
                    <td>1904 / 1905</td>
                    <td>Mistrzostwo drugiej Ligi</td>
                    <td>Tom Watson</td>
                </tr>
                <tr>
                    <td>1900 / 1901</td>
                    <td>Mistrzostwo Ligi</td>
                    <td>Tom Watson</td>
                </tr>
                <tr>
                    <td>1895 / 1896</td>
                    <td>Mistrzostwo drugiej Ligi</td>
                    <td>John McKenna / William Barclay</td>
                </tr>
                <tr>
                    <td>1893 / 1894</td>
                    <td>Mistrzostwo drugiej Ligi</td>
                    <td>John McKenna / William Barclay</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>