<form method="POST" class="form-auth card card-body bg-dark text-white text-center w-50">
    <h1>Logowanie</h1>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <!-- niżej: Dzięki value, po złym wypełnieniu pól, wartości z pól nie znikają -->
        <input type="email" 
            class="form-control <%= errors?.email ? 'is-invalid' : '' %>"   
            name="email"
            value="<%= form.email %>"
            id="email"
            required> 
            <!-- sprawdzamy czy konkretny błąd tego pola istnieje, jeśli nie ma to wartość jest null i nie wchodzi do ifa -->
            <% if (errors?.email) { %>  
                <div class="invalid-feedback"><%= errors.email.message %></div>    
            <% } %>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Hasło</label>
        <input type="password" 
            class="form-control" 
            name="password"
            id="password"
            required>   
            <% if (errors?.password) { %>  
                <div class="invalid-feedback"><%= errors.password.message %></div>    
            <% } %>  
    </div>

    <% if (errors) { %>
        <div class="alert alert-danger">Błędny email lub hasło!</div>
    <% } %>

    <div class="text-center">
        <button class="btn btn-outline-light">Zaloguj</button>
    </div>
</form>