* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {    
    position: relative;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;    
    background: linear-gradient(280deg, rgba(96, 0, 0, 1) 0%, rgba(247, 115, 58, 1) 100%);    
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

// main {
//     .container {
//         padding-bottom: 2.5rem;
//         /* Footer height */
//     }
// }

//Podkreślenie każdej h2
.underline {
    margin: 0 auto;
    height: 3px;
    width: 60px;
    background-color: orangered;
}

/* NAVBAR */
nav {
    .navbar-logo {
        width: 50px;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: orangered;
}

.dropdown-menu-dark .dropdown-item:active {
    background-color: #8c2111;
}

.form-auth {
    margin: auto;

    h1 {
        text-align: center;
    }

    .form-control {
        margin: auto;
        width: 50%;
        border-color: black;
    }

    button {
        width: 30%;
    }
}

.menu {
    i {
        font-size: 60px;
        margin: 0;
        padding: 0;
    }

    .far,
    .fas {
        padding: 20px;
    }

    p {
        margin: 0;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: white;
        transition: color .3s;
    }

    a:hover {
        color: orangered;
    }

    .element {
        padding: 25px;
        margin: 20px 10px;
        border: 3px solid white;
        border-radius: 10%;
    }
}

// STATISTICS
.statistics {
    a {
        width: 49%;
    }

    .scoreBoard {
        display: flex;
        flex-direction: column;
    }
    
    .scoreBoardHeader {
        text-align: center;
        /* padding-top: 2rem; */
        margin: 2rem 0rem;
    }
    
    .scoreBoard h4:nth-of-type(2n) {
        margin-top: 1rem;
    }
    
    .finishedMatchesList,
    .UpcomingMatchesList {
        max-height: 500px;
        overflow-y: scroll;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        font-size: 18px;
        width: 100%;
        margin-bottom: 3rem;
    }
    
    .tableStandings {
        width: 45%;
        margin-top: 1rem;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }
    
    .table{
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }
    
    .leagueTable {
        display: none;
    }
    
    .leagueTable h1 {
        margin-top: 5rem;
    }
    
    .teamCrest {
        height: 35px;
        width: 40px;
    }
    
    .teamNames{
        margin-left: 1rem;
        color: #198754;
    }
    
    .matchDates{
        margin-right: 3rem;
    }
    
    .list-group-item-dark {
        color: white;
        background-color: #212529;
    }
}

/* HISTORY */
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 99%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}

.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.timeline-item:last-child{
	margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #f7a33a;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}

.timeline-date{
	font-size: 18px;
	color: orangered;
	margin:6px 0 6px;
}

.timeline-content{
    background-color: #2f363e;
    transition: 0.5s;
	padding: 10px 20px;
	border-radius: 5px;
}

.timeline-content:hover{
    border: solid 1px white;
    transform: translateY(0.5em);
}

.timeline-content h3{
    font-size: 22px;
	color:orangered;
	text-transform: capitalize;
	font-weight: 500;
}

.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
    margin-bottom: 0;
}

/* TROPHIES */
.trophies {

    p {
        margin-top: 20px;
    }

    .trophies-bg {
        position: relative;
        background-image: url('../img/history/trophies-bg640x426.jpg');
        background-position: center;
        background-size: cover;
        z-index: 0;
    }

    .bg-shadow {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: -1;
    }
}

/* CRESTS */
.crest-bg {
    height: 700px;
}

.crest-info {    
    float: left;
    margin-right: 16px;
}

/* TEAM */
.team {
    .card {
        transition: 0.6s;
    }
    
    .card:hover {
        background-color: rgb(192, 54, 3);
    }

    .card-img-top {
        height: 200px;        
    }

    .card-text {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 15px;
        font-size: 85px;
        line-height: 60px;
        opacity: 0.2;
    }   
    
    .card-body-player {
        height: 180px;
    }
}

/* FOOTER */
footer {
    color: white;
    width: 100%;
}

.footer {
    margin-top: 80px;

    .footer-bg {
        position: relative;
        background-image: url('../img/footer-bg640x426.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        z-index: 0;
    }

    .shadow-bg {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
        z-index: -1;
    }

    .footer-nav {
        width: 80%;
    }

    a {
        padding-right: 10px;
        text-decoration: none;
        color: white;
        transition: color .3s;
    }

    .active {
        color: orangered;
    }

    p {
        margin: 0;
    }

    //Formatowanie wyglądu ikon społecznościowych
    .icons a {
        padding: 0 5px;
        text-decoration: none;
        color: white;
        font-size: 25px;
        transition: color .3s;
    }

    .icons a:hover,
    a:hover {
        color: orangered;
    }

    //Dane adresowe
    .info {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .footer {
        .footer-bg {
            background-image: url('../img/footer-bg1920x1280.jpg');
        }
    }

    .trophies {
        .trophies-bg {
            background-image: url('../img/history/trophies-bg1920x1280.jpg');
        }
    }
}

@media (max-width: 768px) {
    .form-auth {
        // margin: auto;
        width: 75%!important;
    
        .form-control {
            margin: auto;
            width: 80%;
            border-color: black;
        }
    
        button {
            width: 50%;
        }
    }

    .timeline-item:nth-child(even) {
        padding-left: 0;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
    }

    .crest-info {    
        width: 100%;
    }

    .footer {
        .footer-nav {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {  
    .statistics {
        .list-group-item-dark {
            font-size: 10px;
        }
        
        .matchDates {
            margin-right: 0.5rem;
        }

        .teamNames {
            margin-left: 0.5rem;
        }

        .table { 
            font-size: 9px;
        }    
    }  

    .table-trophies {
        font-size: 12px;
    }
    
    .crest-bg {
        height: 400px;
    }       
}