<div class="mb-3">
    <label for="sort" class="form-label">Sortuj wg</label>
    <select name="sort" id="sort" class="form-control">
        <option value="">Domyślnie</option>
        <!-- niżej: if a-z is selected then use it as selected -->
        <option value="name|asc" <%- query.sort === 'name|asc' ? 'selected' : '' %>>
            A-z
        </option>
        <option value="name|desc" <%- query.sort === 'name|desc' ? 'selected' : '' %>>
            Z-a
        </option>        
    </select>    
</div>

<button class="btn btn-primary mt-3">Zastosuj</button>