* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-height: 170vh;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(280deg, #600000 0%, #f7733a 100%);
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

main .container {
  padding-bottom: 2.5rem;
  /* Footer height */
}

.underline {
  margin: 0 auto;
  height: 3px;
  width: 60px;
  background-color: red;
}

/* NAVBAR */
nav .navbar-logo {
  width: 50px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: orangered;
}

.dropdown-menu-dark .dropdown-item:active {
  background-color: #8c2111;
}

.form-auth {
  margin: auto;
}

.form-auth h1 {
  text-align: center;
}

.form-auth .form-control {
  margin: auto;
  width: 50%;
  border-color: black;
}

.form-auth button {
  width: 30%;
}

.menu i {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.menu .far,
.menu .fas {
  padding: 20px;
}

.menu p {
  margin: 0;
  font-size: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.menu a:hover {
  color: orangered;
}

.menu .element {
  padding: 25px;
  margin: 20px 10px;
  border: 3px solid white;
  border-radius: 10%;
}

.statistics a {
  width: 49%;
}

.statistics .scoreBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statistics .scoreBoardHeader {
  text-align: center;
  /* padding-top: 2rem; */
  margin: 2rem 0rem;
}

.statistics .scoreBoard h4:nth-of-type(2n) {
  margin-top: 1rem;
}

.statistics .finishedMatchesList,
.statistics .UpcomingMatchesList {
  max-height: 500px;
  overflow-y: scroll;
  -webkit-box-shadow: 8px 8px 24px 0px #42445a;
  box-shadow: 8px 8px 24px 0px #42445a;
  font-size: 18px;
  width: 100%;
  margin-bottom: 3rem;
}

.statistics .tableStandings {
  width: 45%;
  margin-top: 1rem;
  -webkit-box-shadow: 8px 8px 24px 0px #42445a;
  box-shadow: 8px 8px 24px 0px #42445a;
}

.statistics .table {
  -webkit-box-shadow: 8px 8px 24px 0px #42445a;
  box-shadow: 8px 8px 24px 0px #42445a;
}

.statistics .leagueTable {
  display: none;
}

.statistics .leagueTable h1 {
  margin-top: 5rem;
}

.statistics .teamCrest {
  height: 35px;
  width: 40px;
}

.statistics .teamNames {
  margin-left: 1rem;
  color: #198754;
}

.statistics .matchDates {
  margin-right: 3rem;
}

.statistics .list-group-item-dark {
  color: white;
  background-color: #212529;
}

/* HISTORY */
.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 99%;
  background-color: #2f363e;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #f7a33a;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 18px;
  color: orangered;
  margin: 6px 0 6px;
}

.timeline-content {
  background-color: #2f363e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 20px;
  border-radius: 5px;
}

.timeline-content:hover {
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
}

.timeline-content h3 {
  font-size: 22px;
  color: orangered;
  text-transform: capitalize;
  font-weight: 500;
}

.timeline-content p {
  color: #c8c8c8;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0;
}

/* TROPHIES */
.trophies p {
  margin-top: 20px;
}

.trophies .trophies-bg {
  position: relative;
  background-image: url("../img/trophies-bg640x426.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.trophies .bg-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* CRESTS */
.crest-bg {
  height: 700px;
}

.crest-info {
  float: left;
  margin-right: 16px;
}

/* FOOTER */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: white;
}

/* TEAM */
.team .card {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.team .card:hover {
  background-color: #c03603;
}

.team .card-img-top {
  height: 200px;
}

.team .card-text {
  font-size: 85px;
  line-height: 60px;
  opacity: 0.2;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 15px;
}

.team .card-body-player {
  height: 180px;
}

.contact {
  margin-top: 80px;
}

.contact .contact-bg {
  position: relative;
  background-image: url("../img/contact-bg640x426.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}

.contact .shadow-bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.contact a {
  padding-right: 10px;
  text-decoration: none;
  color: white;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contact p {
  margin: 0;
}

.contact .icons a {
  padding: 0 5px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contact .icons a:hover,
.contact a:hover {
  color: red;
}

.contact .info {
  font-size: 16px;
}

@media (min-width: 1200px) {
  .contact .contact-bg {
    background-image: url("../img/contact-bg1920x1280.jpg");
  }
  .trophies .trophies-bg {
    background-image: url("../img/trophies-bg1920x1280.jpg");
  }
}

@media (max-width: 576px) {
  .timeline-content h3 {
    font-size: 18px;
    color: orangered;
  }
  .timeline-content p {
    color: #c8c8c8;
    font-size: 10px;
    line-height: normal;
  }
  .crest-bg {
    height: 400px;
  }
}
/*# sourceMappingURL=style.css.map */