<main>
    <div class="menu container">
        <div class="card card-body bg-dark text-white p-4">
            <div class="row text-center">
                <h1>Menu</h1>
                <div class="col-md-6 col-lg-3">
                    <a href="/wiadomosci">
                        <div class="element">                            
                            <i class="fas fa-newspaper"></i>
                            <p>Wiadomości</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="/statystyki">
                        <div class="element">
                            <i class="far fa-calendar-alt"></i>
                            <p>Terminarz</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="/statystyki">
                        <div class="element">
                            <i class="fas fa-list-ol"></i>
                            <p>Tabela</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="https://www.google.com/">
                        <div class="element">
                            <i class="fas fa-users"></i>
                            <p>Skład</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="https://www.google.com/">
                        <div class="element">
                            <i class="bi bi-hourglass-split"></i>
                            <p>Historia</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="https://www.google.com/">
                        <div class="element">
                            <i class="bi bi-chat-dots"></i>
                            <p>Chat</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="https://www.google.com/">
                        <div class="element">
                            <i class="bi bi-person-check"></i>
                            <p>Piłkarz meczu</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="https://www.google.com/">
                        <div class="element">
                            <i class="bi bi-calendar2-check"></i>
                            <p>Wynik meczu</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>