<div class="container">
    <h1 class="scoreBoardHeader">Terminarz<span id="leagueName"></span></h1>

    <div class="dropdown text-center mt-3">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
            aria-expanded="false">
            Wybierz ligę
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" data-league-id="PL">Premier League</button>
            <button class="dropdown-item" data-league-id="SA">Serie A</button>
            <button class="dropdown-item" data-league-id="BL1">Bundesliga</button>
            <button class="dropdown-item" data-league-id="PD">La Liga</button>
        </div>
    </div>

    <div class="scoreBoard" id="scoreBoard">
        <div id="finishedMatchesBody">
            <div class="finishedMatchesList" id="finishedMatchesList"></div>
        </div>
        <div id="UpcomingMatchesBody">
            <div class="UpcomingMatchesList" id="UpcomingMatchesList"></div>
        </div>
    </div>

    <div class="leagueTable" id="leagueTable">
        <h1>Tabela ligowa</h1>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Lp</th>
                    <th scope="col"></th>
                    <th scope="col">Drużyna</th>
                    <th scope="col">M</th>
                    <th scope="col">Pkt</th>
                    <th scope="col">Z</th>
                    <th scope="col">R</th>
                    <th scope="col">P</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>