<div class="container statistics">   
    <a href="#scoreBoard" class="btn btn-dark p-3">Terminarz</a>
    <a href="#leagueTable" class="btn btn-dark p-3">Tabela</a>

    <div class="scoreBoard" id="scoreBoard">
        <h1 id="scoreBoardHeader" class="scoreBoardHeader" style="display: none;">Terminarz</h1>
        <div id="finishedMatchesBody">
            <h4 id="scoreBoardHeaderFin" style="display: none;">Mecze odbyte</h3>
            <div class="finishedMatchesList" id="finishedMatchesList"></div>
        </div>
        <div id="UpcomingMatchesBody">
            <h4 id="scoreBoardHeaderSche" style="display: none;">Mecze zaplanowane</h3>
            <div class="UpcomingMatchesList" id="UpcomingMatchesList"></div>
        </div>
    </div>

    <div class="leagueTable" id="leagueTable">
        <h1 class="scoreBoardHeader">Tabela ligowa</h1>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Pozycja</th>
                    <th scope="col"></th>
                    <th scope="col">Drużyna</th>
                    <th scope="col">M</th>
                    <th scope="col">Pkt</th>
                    <th scope="col">Z</th>
                    <th scope="col">R</th>
                    <th scope="col">P</th>
                    <th scope="col">B</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>